.bx-breadcrumb{
	.bx-breadcrumb-item{
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.02em;
		color: #4F4F4F;
		a{
			font-size: 13px;
			line-height: 20px;
			letter-spacing: 0.02em;
			color: #4F4F4F;

		}
	}
}