.detail{
	position: relative;
	padding: 20px 50px;
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: 320px 1fr;
	grid-template-rows: auto;
	grid-column-gap: 50px;
	grid-template-areas: "img contant" "filter contant" ". contant";
	&__aside{
		grid-area: aside;

	}
	&__contant{
		grid-area: contant;
		h2{
			font-weight: bold;
			font-size: 40px;
			line-height: 56px;
			color: #4F4F4F;
			border-bottom: 5px solid #25AE6A;
			margin: 10px 0 30px;
		}
		h3{
			font-weight: bold;
			font-size: 18px;
			line-height: 20px;
			color: #4F4F4F;
			border-bottom: 1px solid #4F4F4F;
			margin: 30px 0 15px;
		}
		p{
			font-weight: normal;
			font-size: 15px;
			line-height: 20px;
			color: #4A4A4A;
		}
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			&.plus{
				li{
					position: relative;
					padding-left: 20px;
					margin-bottom: 10px;
					&:before{
						content: '+';
						position: absolute;
						top: 1px;
						left: 0;
					}
				}
			}
			&.sp{
				li {
					display: block;
					position: relative;
					overflow: hidden;
					padding: 0;
					margin-bottom: 8px;
					font-size: 13px;
					line-height: 15px;
					color: #4A4A4A;
					&:before{
						display: none;
					}
					&:after {
						content:'';
						display: block;
						overflow: hidden;
						height: 14px;
						border-bottom: 1px dotted #666
					}
					.key {
						display: block;
						float: left;
						z-index: 2;
						padding-right: 2px;
					}
					.value {
						display: block;
						float: right;
						z-index: 2;
						padding-left: 2px;
					}
				}
			}
			&.colums{


			}
			li{
				position: relative;
				padding-left: 20px;
				font-size: 15px;
				line-height: 20px;
				color: #4A4A4A;
				&:before{
					content: '—';
					position: absolute;
					top: 1px;
					left: 0;
				}
			}
		}
	}
	&__img{
		grid-area: img;
		margin-bottom: 44px;
		.item{
			width: 300px;
			height: 255px;
			text-decoration: none;
			display: block;
		}
		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border: 10px solid #A7A7A7;
		}
	}
	.slick-dots {
		position: relative;
		bottom: 0;
		list-style: none;
		display: block;
		text-align: center;
		padding: 0;
		margin: 0;
		width: 100%;
		li {
			position: relative;
			display: inline-block;
			height: 10px;
			width: 10px;
			margin: 0 5px;
			padding: 0;
			cursor: pointer;
			button {
				display: block;
				height: 100%;
				width: 100%;
				padding: 0;
				cursor: pointer;
				opacity: 1;
				background-color: #E5E5E5;
				&:hover, &:focus {
					outline: none;
				}
				&:before {
					display: none;
				}
			}
			&.slick-active button{
				background-color: #25AE6A;
			}
		}
	}
	&__filter{
		grid-area: filter;
		padding: 0;
	}
	&__category{
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #4F4F4F;
	}
	&__btn{
		display:flex;
		align-items: center;
		min-height: 40px;
		font-size: 13px;
		line-height: 18px;
		color: #4F4F4F;
		text-decoration: none;
		margin-left: 40px;
		margin-bottom: 24px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: -40px;
			background-image: url("img/pdf.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
			width: 30px;
			height: 40px;
		}
		&.call{
			margin-left: 0;
			padding-left: 60px;
			margin-bottom: 10px;
			border: 1px solid #4F4F4F;
			&:before{
				background-color: #DB2D6C;
				background-image: url("img/header-IconPhone.svg");
				background-size: 20px;
				width: 40px;
				height: 100%;
				left: 0;
			}
		}
		&.feedback{
			margin-left: 0;
			padding-left: 60px;
			margin-bottom: 10px;
			border: 1px solid #4F4F4F;
			&:before{
				background-color: #2D9CDB;
				background-image: url("img/header-IconEmail.svg");
				background-size: 20px;
				width: 40px;
				height: 100%;
				left: 0;
			}
		}
		&.poll{
			margin-left: 0;
			padding-left: 60px;
			margin-bottom: 10px;
			border: 1px solid #4F4F4F;
			&:before{
				background-color: #25AE6A;
				background-image: url("img/header-IconPoll.svg");
				background-size: 20px;
				width: 40px;
				height: 100%;
				left: 0;
			}
		}
	}
	&__title{
		font-weight: bold;
		font-size: 24px;
		line-height: 24px;
		text-align: center;
		color: #4A4A4A;
		position: relative;
		overflow: hidden;
		margin: 0;
		&:before{
			content: '';
			display: inline-block;
			position: relative;
			width: 100%;
			height: 1px;
			right: 10px;
			margin-left: -100%;
			border-bottom: 1px solid #4F4F4F;
		}
		&:after{
			content: '';
			display: inline-block;
			position: relative;
			width: 100%;
			height: 1px;
			left: 10px;
			margin-right: -98%;
			border-bottom: 1px solid #4F4F4F;
		}
	}
	&__title-link{
		font-weight: bold;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		color: #4A4A4A;
		position: relative;
		overflow: hidden;
		margin: 10px 0 30px;
	}


	&__block-link{
		margin-bottom: 30px;
	}
	@include r(820){
		padding: 20px;
	}
	@include r(768){
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-column-gap: 0;
		grid-template-areas: "img" "contant" "filter";
		grid-row-gap: 30px;
	}
}