.footer{
	background-color: #2D9CDB;
	&__inner{
		display: grid;
		grid-template-columns: 101px minmax( 189px,240px) 240px  minmax( 129px,170px) minmax( 208px,227px);
		grid-template-areas: "logo title menu contacts group" "bottom bottom bottom bottom bottom";
		border-bottom: 1px solid #fff;
	}
	&__logo{
		grid-area: logo;
		border-right: 1px solid #fff;
		text-align: center;
		img{
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}
	}
	&__title{
		padding:13px 20px;
		border-right: 1px solid #fff;
		grid-area: title;
		h5{
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 30px;
			color: #FFFFFF;
			margin: 0;
		}
		p{
			font-size: 12px;
			line-height: 20px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: #FFFFFF;
			margin: 0;
		}
	}
	&__menu{
		padding: 13px 19px;
		border-right: 1px solid #fff;
		grid-area: menu;
	}
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item{

	}
	&__link {
		font-weight: bold;
		font-size: 16px;
		line-height: 25px;
		color: #FFFFFF;
		text-decoration: none;
	}
	&__contacts{
		grid-area: contacts;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-right: 1px solid #fff;
		a{
			font-size: 16px;
			line-height: 26px;
			text-align: right;
			color: #ffffff;
			text-decoration: none;
			&:last-child{
				font-size: 14px;
			}
		}
	}
	&__group{
		grid-area: group;
	}
	&__bottom{
		padding: 17px 17px 17px 23px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #ffffff;
	}
	&__subtitle{
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	&__adress{
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: #FFFFFF;
	}
	&__btn{
		display: block;
		font-size: 16px;
		line-height: 50px;
		color: #ffffff;
		text-decoration: none;
		height: 50%;
		padding-left: 15px;
		padding-right: 45px;
		border-bottom: 1px solid #ffffff;
		position: relative;
		cursor: pointer;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			background-color: #2D9CDB;
			background-image: url("img/header-IconEmail.svg");
			background-size: 22px 13px;
			background-position: center;
			background-repeat: no-repeat;
			width: 50px;
			height: 100%;
			border-left: 1px solid #ffffff;
		}
		&:last-of-type{
			border-bottom: none;
		}
		&:hover{
			opacity: .7;
		}
		&.call{
			background-color: #DB2D6C;
			&:after{
				background-color: #DB2D6C;
				background-image: url("img/header-IconPhone.svg");
				background-size: 20px;
			}
		}
	}
	@include r(880){
		&__inner{
			display: grid;
			grid-template-columns: 101px minmax( 189px,240px) 240px  minmax( 160px,1fr);
			grid-template-areas: "logo title menu contacts" "bottom bottom bottom bottom";
			border-bottom: 1px solid #fff;
		}
		&__group{
			display: none;
		}
		&__contacts{
			padding: 0 20px;
			border-right: none;
			a{
				text-align: center;
			}
		}
	}
	@include r(689){
		&__inner{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-areas: "logo" "title" "menu" "contacts";
			border-bottom: 1px solid #fff;
		}
		&__logo{
			max-width: 100px;
			border: none;
			margin: 0 auto;
		}
		&__title{
			text-decoration: none;
			text-align: center;
		}
		&__menu{
			padding: 13px 19px;
			border-right:none;
			max-width: 240px;
			margin: 0 auto;
			text-align: center;
		}
		&__group{
			display: none;
		}
		&__contacts{
			padding: 0 20px;
			margin-bottom: 20px;
			border-right: none;
			a{
				text-align: center;
			}
		}
		&__bottom{
			text-align: center;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__subtitle{
			margin-bottom: 10px;
		}
	}
}