.footer{
	display: grid;
	grid-template-columns: 100px 200px  minmax( 206px,340px) 1fr;
	grid-template-areas: "logo title contacts group";
	background-color: #2D9CDB;
	&__logo{
		border-right: 1px solid #fff;
		text-align: center;
		padding-top: 7px;
	}
	&__title{
		padding: 20px;
		border-right: 1px solid #fff;
		h5{
			font-weight: bold;
			font-size: 18px;
			line-height: 20px;
			color: #FFFFFF;
			margin: 0 0 22px;
		}
		p{
			font-size: 12px;
			line-height: 20px;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: #FFFFFF;
			margin: 0;
		}
	}
	&__menu{
		padding: 20px;
		border-right: 1px solid #fff;
	}
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item{

	}
	&__link{
		font-weight: bold;
		font-size: 14px;
		line-height: 20px;
		color: #FFFFFF;
		text-decoration: none;
	}
	&__box{
		display: grid;
		grid-template-columns: minmax(135px , 160px)  180px;
		grid-template-rows: 90px;
		grid-template-areas: "contacts group"
								"adress adress";
	}
	&__contacts{
		grid-area: contacts;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-right: 1px solid #fff;
		a{
			font-size: 14px;
			line-height: 20px;
			text-align: right;
			color: #ffffff;
			text-decoration: none;
		}
	}
	&__group{
		grid-area: group;
	}
	&__btn{
		display: block;
		font-size: 13px;
		line-height: 45px;
		color: #ffffff;
		text-decoration: none;
		height: 45px;
		padding-left: 15px;
		padding-right: 45px;
		border-bottom: 1px solid #ffffff;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			background-color: #2D9CDB;
			background-image: url("img/header-IconEmail.svg");
			background-size: 22px 13px;
			background-position: center;
			background-repeat: no-repeat;
			width: 42px;
			height: 100%;
			border-left: 1px solid #ffffff;
		}
		&:last-of-type{
			border-bottom: none;
		}
		&.call{
			&:after{
				background-color: #DB2D6C;
				background-image: url("img/header-IconPhone.svg");
				background-size: 20px;
			}
		}
	}
	&__adress{
		grid-area: adress;
		padding: 20px;
		font-size: 14px;
		line-height: 20px;
		color: #FFFFFF;
		border-top: 1px solid #ffffff;
	}
	@include r(823){
		grid-template-columns: 100px 200px 206px 1fr;
		&__box{
			grid-template-columns: minmax(100px, 290px);
			grid-template-areas: "adress adress"
			"contacts contacts";
		}
		&__group{
			display: none;
		}
		&__contacts{
			align-items: flex-start;
			padding: 0 20px;
			border-right: none;
		}
	}
	@include r(680){
		grid-template-columns: 206px 1fr;
		grid-template-areas: "logo title" "group contacts";
	}
	@include r(460){
		grid-template-columns: 1fr;
		grid-template-areas: "logo" "title" "contacts";
		text-align: center;
		&__contacts{
			align-items: center;
			padding: 20px;
			a{
				font-size: 12px;
			}
		}
		&__title{
			padding: 20px;
			border-right: 1px solid #fff;
			h5{
				margin: 0 0 5px;
			}
			p{
				font-size: 10px;
			}
		}
		&__menu{
			padding: 0 0 20px;
		}
		&__adress{
			max-width: 200px;
			margin: 0 auto;
			font-size: 12px;
		}
		&__item{
			padding: 10px;
			border-bottom: 1px solid #ffffff;
			&:nth-child(1){
				max-width: 240px;
				margin: 0 auto 10px;
				border: 1px solid #ffffff;
			}
			&:nth-child(2){
				max-width: 240px;
				margin: 0 auto 30px;
				border: 1px solid #ffffff;
			}
		}
	}
}