.main-company{
	margin-bottom: 21px;
	&__header{
		margin-bottom: 25px;
	}
	&__title{
		font-weight: bold;
		font-size: 34px;
		line-height: 1;
		text-align: center;
		color: #4A4A4A;
		position: relative;
		overflow: hidden;
		margin: 0;
		&:before{
			content: '';
			display: inline-block;
			position: relative;
			width: 100%;
			height: 1px;
			right: 10px;
			margin-left: -100%;
			border-bottom: 1px solid #4F4F4F;
		}
		&:after{
			content: '';
			display: inline-block;
			position: relative;
			width: 100%;
			height: 1px;
			left: 10px;
			margin-right: -98%;
			border-bottom: 1px solid #4F4F4F;
		}
	}
	&__main{
		display: flex;
		justify-content: space-between;
		margin-bottom: 23px;
	}
	&__item{
		padding: 20px 38px 0;
		border-right: 1px solid #4F4F4F;
		text-align: center;
		&:last-of-type{
			border-right:  none;
		}
	}
	&__img{
		height: 50px;
		display: block;
		text-decoration: none;
		margin-bottom: 7px;
		position: relative;
		img{
			height: 100%;
			display: block;
			object-fit: cover;
			margin: 0 auto;
		}
	}
	&__mark{
		position: absolute;
		bottom: 0;
		left: -10px;
		background-color: #2D9CDB;
		font-weight: bold;
		font-size: 13px;
		line-height: 18px;
		color: #FFFFFF;
		padding: 3px 9px;
	}
	&__link{
		text-decoration: none;
	}
	&__name{
		font-weight: bold;
		font-size: 16px;
		line-height: 18px;
		color: #4A4A4A;
		margin: 0 0 10px;
	}
	&__anons{
		font-size: 13px;
		line-height: 16px;
		color: #4A4A4A;
		margin: 0;
	}
	&__footer{
		padding: 0 20px;
		p{
			max-width: 692px;
			font-size: 15px;
			line-height: 20px;
			text-align: center;
			color: #4A4A4A;
			margin: 0 auto 24px;
		}
	}
	&__btn{
		display: block;
		width: 200px;
		height: 40px;
		margin: 0 auto;
		border: 1px solid #4F4F4F;
		font-size: 13px;
		line-height: 40px;
		text-align: center;
		color: #4F4F4F;
		text-decoration: none;
		cursor: pointer;
	}
	&__down{
		max-width: 692px;
		font-size: 15px;
		line-height: 20px;
		color: #4A4A4A;
		margin: 24px auto;
		display: none;
		text-align: center;
		&.active{
			display: block;
		}
	}
	@include r(960){
		&__item{
			padding: 20px 20px 0;
		}
	}
	@include r(768){
		&__main{
			flex-direction: column;
		}
		&__item{
			padding: 20px;
			margin: 0 20px;
			border-right: 0;
			border-bottom: 1px solid #4F4F4F;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__img{
			width: 90px;
			flex-shrink: 0;
			margin-right: 38px;
		}
		&__link{
			max-width: 120px;
			text-align: left;
		}
	}
	@include r(480){
		&__title{
			font-weight: bold;
			font-size: 24px;
			line-height: 1;
			text-align: center;
			color: #4A4A4A;
			position: relative;
			overflow: hidden;
			margin: 0;
			&:before{
				content: '';
				display: inline-block;
				position: relative;
				width: 100%;
				height: 1px;
				right: 10px;
				margin-left: -100%;
				border-bottom: 1px solid #4F4F4F;
			}
			&:after{
				content: '';
				display: inline-block;
				position: relative;
				width: 100%;
				height: 1px;
				left: 10px;
				margin-right: -98%;
				border-bottom: 1px solid #4F4F4F;
			}
		}
	}


}
