.news-detail{
	position: relative;
	padding: 20px 50px;
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: 320px 1fr;
	grid-template-rows: auto;
	grid-column-gap: 50px;
	grid-template-areas: "aside contant";
	&__aside{
		grid-area: aside;

	}
	&__contant{
		grid-area: contant;
		h2{
			font-weight: bold;
			font-size: 40px;
			line-height: 56px;
			color: #4F4F4F;
			border-bottom: 5px solid #25AE6A;
			margin: 10px 0 30px;
		}
		h3{
			font-weight: bold;
			font-size: 18px;
			line-height: 20px;
			color: #4F4F4F;
			border-bottom: 1px solid #4F4F4F;
			margin: 30px 0 15px;
		}
		p{
			font-weight: normal;
			font-size: 15px;
			line-height: 20px;
			color: #4A4A4A;
		}
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			&.plus{
				li{
					position: relative;
					padding-left: 20px;
					margin-bottom: 10px;
					&:before{
						content: '+';
						position: absolute;
						top: 1px;
						left: 0;
					}
				}
			}
			&.sp{
				li {
					display: block;
					position: relative;
					overflow: hidden;
					padding: 0;
					margin-bottom: 8px;
					font-size: 13px;
					line-height: 15px;
					color: #4A4A4A;
					&:before{
						display: none;
					}
					&:after {
						content:'';
						display: block;
						overflow: hidden;
						height: 14px;
						border-bottom: 1px dotted #666
					}
					.key {
						display: block;
						float: left;
						z-index: 2;
						padding-right: 2px;
					}
					.value {
						display: block;
						float: right;
						z-index: 2;
						padding-left: 2px;
					}
				}
			}
			&.colums{


			}
			li{
				position: relative;
				padding-left: 20px;
				font-size: 15px;
				line-height: 20px;
				color: #4A4A4A;
				&:before{
					content: '—';
					position: absolute;
					top: 1px;
					left: 0;
				}
			}
		}
	}
	&__img{
		grid-area: img;
		margin-bottom: 44px;
		.item{
			width: 300px;
			height: 255px;
			text-decoration: none;
			display: block;
		}
		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border: 10px solid #A7A7A7;
		}
	}
}